include versioneer.py
include requirements.txt
include requirements-dev.txt
include requirements-doc.txt
include README.md
include LICENSE
include blark/_version.py
include blark/*.lark
include blark/docs/*.css
recursive-include blark/tests *.TcPOU *.st
